<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CSED 18 Assignments Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../js/angular.min.js"></script>
    <script src="../js/next-day.js"></script>

</head>

<body ng-app="nextDay">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">CSED 18 Assignments [for those who procrastinate]</a>
            </div>
            <!-- /.navbar-header -->

            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>

                        <li>
                            <a href="next-day.html"><i class="fa fa-table fa-fw"></i> Next Day</a>
                        </li>

                        <li>
                            <a href="contribute.html"><i class="fa fa-github fa-fw"></i> Contribute</a>
                        </li>

                        <li>
                            <a href="feedback.html"><i class="fa fa-send fa-fw"></i> Feedback</a>
                        </li>
                    </ul>
                </div class="sidebar-nav navbar-collapse">
                <br><br><br><br><br><br>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="text-center" style="font-size: 150%">
                            Why don't you improve the site with your <a href="feedback.html">feedback and ideas</a>? <i class="fa fa-smile-o"></i>
                        </p>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <br><br>

                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" ng-controller="nextDayCtrl as ctrl">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Next Day</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Subjects Table
                            <label class="btn btn-default btn-xs pull-right"  data-toggle="button" ng-click="ctrl.allTableClick()">
                              show all Table
                            </label>
                        </div>
                        <!-- /.panel-heading -->
                        <div id = "active_list" class="panel-body">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Day</th>
                                        <th>Period</th>
                                        <th>Subject</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="ctrl.isAllTableShowed() || period.isNextDay" ng-class="{info: period.isNextDay}" ng-repeat-start="period in table">
                                        <td >{{ period.mid ? period.day : "" }}</td>
                                        <td>{{ period.num}}</td>
                                        <td>{{ period.subject }} ( {{ period.ptype }} )</td>
                                        <td>{{ period.notes || ""}}</td>
                                    </tr>
                                    <tr ng-show="ctrl.isAllTableShowed() && period.last" ng-repeat-end>
                                        <td></td><td></td> <td></td><td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <!-- /.panel -->
                    <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-history fa-fw"></i>
                            General Notes:
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul id = "past_list" class="chat">
                                <li class="left clearfix" ng-repeat="post in generalNotes">
                                    <div class="header">
                                        <small class="text-muted"> <i class="fa fa-clock-o fa-fw"> </i> </small>
                                        <strong class="primary-font"> {{ post.date }} </strong>
                                     </div>
                                     <p> {{ post.body }} </p>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="../js/parse_google_docs.js"></script>
    <script src="https://spreadsheets.google.com/feeds/list/1pBZaLcIZ8o2t6HoylMwun4EranZF4i2KvFoG5OmtNio/o4wjnp0/public/values?alt=json-in-script&callback=parseNextDayTableGDOCS"></script>
    <script src="https://spreadsheets.google.com/feeds/list/1pBZaLcIZ8o2t6HoylMwun4EranZF4i2KvFoG5OmtNio/o3kmp51/public/values?alt=json-in-script&callback=parseNextDayNotesGDOCS"></script>


</body>

</html>
